[submodule "frontend"]
	path = modules/frontend
	url = https://github.com/transplar/simtanah-frontend
	branch = gh-pages
[submodule "api"]
	path = modules/api
	url = https://github.com/transplar/simtanah-api
